body {
  font-family: "Raleway", sans-serif;
}
header {
  background-color: #92e0e5;
  border-bottom: 1px solid #3f8da7 !important;
  color: white;
  height: 50px;
  padding: 0 25px;
}
header h1 {
  float: left;
  text-indent: -9999px;
  background: url("../Images/") no-repeat;
  height: 35px;
  width: 35px;
  margin-top: 8px;
  margin-left: 20px;
  border-radius: 50%;
}
header nav {
  float: right;
}
nav li {
  display: inline-block;
  padding: 17px 20px;
}
nav li:hover {
  background: #3f8da7;
  color: white;
  cursor: pointer;
}
#hero {
  background: url("../Images/hero\ unit\ bg.png") no-repeat;
  background-size: cover;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 50px;
}
#hero img {
  display: block;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 50%;
  border: 5px solid #3f8da7;
}
#hero h2 {
  font-size: 40px;
  margin-bottom: 25px;
}
.btn {
  background: white;
  border: 5px solid #3f8da7 !important;
  color: #3f8da7;
  padding: 5px 10px !important;
  text-decoration: none;
}
.btn:hover {
  padding: 5px 10px;
  background: #3f8da7;
  color: white;
}
.three-col {
  width: 30%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 0 10px;
}
.three-col h3 {
  color: #3f8da7;
  font-size: 30px;
}
.three-col img {
  border-radius: 50%;
  border: 3px solid #3f8da7;
  height: 200px;
  width: 200px;
  margin: 25px 0;
}
.three-col p {
  margin-bottom: 40px;
}
footer {
  background: #3f8da7;
  color: white;
  margin-top: 40px !important;
  padding: 20px 0 !important;
  text-align: center;
}
footer ul {
  margin: 40px 0;
}
footer li {
  display: inline-block;
  margin: 0 25px;
}
.link {
  color: white;
}
.link:hover {
  color: 92e5;
}
